/*Material Design Colors*/
$turquoise:#1ABC9C;
$greensea:#16A085;
$emerald:#2ECC71;
$nephritis:#27AE60;

$peterriver:#3498DB;
$belizehole:#2980B9;

$amethyst:#9B59B6;
$wisteria:#8E44AD;

$sunflower:#F1C40F;
$orange:#F39C12;

$carrot:#E67E22;
$pumpkin:#D35400;

$alizarin:#E74C3C;
$pomegranate:#C0392B;

$cloud:#ECF0F1;
$silver:#BDC3C7;

$concrete:#95A5A6;
$asbestos:#7F8C8D;

$wetasphalt:#34495E;
$midnightblue:#2C3E50;

/*quick border*/
@mixin redbor {
  border: 1px red solid;
}

/*clear fixes*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*layout*/
@mixin flex {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}
/*background-size*/
@mixin background-size ($type){
	-webkit-background-size: $type;
	-moz-background-size: $type;
	-o-background-size: $type;
	background-size: $type;
}

@mixin border-radius ($value){
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin fill() {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
/*fonts*/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/*Transition*/
@mixin transition($transition...) {
	-moz-transition:    $transition;
	-o-transition:      $transition;
	-webkit-transition: $transition;
	transition:         $transition;
}

/*Break Point*/
$xl: 1400px;
$la: 1200px;
$md: 992px;
$sm: 768px;
$xs: 320px;

@mixin min-screen($width) {
  @media screen and (min-width:$width) {
	@content;
  }
}
@mixin max-screen($width) {
  @media screen and (max-width:$width) {
	@content;
  }
}
@mixin screen($min-width,$max-width) {
  @media screen and (min-width:$min-width) and (max-width:$max-width) {
	@content;
  }
}

/*Fonts*/
/*
  Fool-Proof @font-face
  A PEN BY Steve Hickey
  http://codepen.io/javasteve99/pen/hDxpn
*/
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
  // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
        src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}


