@import "all";

/*Using 100% for both html and body will allow the header to stretch 100% as well*/
html, body {
	width: 100%;
	height: 100%;
}
a:hover{
	text-decoration: none;
}
section {
	padding: 20px 0px;
}
/*===========================================
Landing Page
===========================================*/

.landing-page {
	width: 100%;
	height: 100%;

	.navbar-btn {
		margin-right: 15px;
	}

	.intro-header {
		background: url("../img/landingpagebg2.jpg") no-repeat center center scroll;
		@include background-size (cover);
		width: 100%;
		height: 100%;
		display: table;
	}

	.logo {
		max-width: 50%;
	}

	.vertical-text {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		background-color: rgba(255,255,255,0.5);
		background-color: rgba(0,0,0,0.7);
		color: white;
	}
}

/*===========================================
Dashboard 
===========================================*/
$bar-height: 50px;

.dashboard-top-header {
	background-color: darkgray;

	p {
		text-align: center;
		color: white;
	}

	display: table;
	position: relative;
	width: 100%;

	.center-logo {
		text-align: center;
		vertical-align: middle;
		border: 1px solid red;
		line-height: $bar-height
	}

	img {
		max-width: 100px;
		display: inline-block;
	}

	.btn {
		float: right;
		margin-top: ($bar-height - 32px ) / 2; 
		border: 0px;
		height: 32px;
	}
}

/*===========================================
Dashboard - Dropdown
===========================================*/
.dashboard-dropdown {
	text-align: left;
	background-color: gray;
	position: relative;
	z-index: 9999;
	font-style: 10px;
	@include min-screen($sm) {
		height: 40px;
	}

	.active {
		background-color: red;
	}

	ul.drop-level-one {
		list-style: none;
		padding: 0px;
		position: relative;
		text-align: center;

		&:after {
			content:"";
			clear: both;
			display: block;
		}

		li {
			background-color: #555858;
			color: white;
			cursor: pointer;
			padding: 5px 0px;
			width: 100%;
			float: left;
			@include font-size(25px);

			&:hover {
				background-color: red;
			}

			a {
				color: white;
			}

			@include min-screen(500px) {
				width: 50%;
				display: inline-block;
				padding: 10px 20px;
			}

			@include min-screen($sm) {
				border: 1px solid blue;
				float: left;
				width: 110px;
				@include font-size(20px);
				display: block;
			}
		}
	}

	ul.drop-level-two {
		display: none;
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0%;

		li {
			background-color: #333534;
			width: 100%;
			position: relative;
			float: none;

			@include min-screen($sm) {
				width: 110px;
			}

			&:hover {
				background-color: gray;
			}
		}

		@include min-screen($md) {
			&.article-dropdown,
			&.tutorial-dropdown 
			 {
				left: -25%;
			}
		}

		@include min-screen($sm) {
			&.article-dropdown {
				left: 110px;
			}

			&.tutorial-dropdown {
				left: 220px;
			}
		}
	}
	
	ul.drop-level-three {
		left: 100%; 
		top: 0;
		position: absolute;
		display: none;
		li {
			background-color: #111111;
			width: 100%;

			@include min-screen($sm) {
				float: none;
				width: 110px;
			}

			&:hover {
				background-color: yellow;
			}
		}
	}

	ul li:hover > ul {
		display: inline-block;
	}
	ul li.active > ul {
		display: inline-block;
	}
}
/*===========================================
Dashboard - Template Selector
===========================================*/
.template-section {
	background-color: green;
	// min-height: 280px;
	padding: 20px 0px;

	img {
		display: inline-block;
	}

	p {
		color: white;
		margin: 20px;
		text-align: center;
	}
}

.template-grid {
	padding: 0px;
}

.template-select-container {
	position: relative;
	margin: 0 auto;
	padding: 40px 0px;
}

.template-set {
	text-align: center;
	padding: 0px;
}

.template {

	display: inline-block;
	position: relative;
	max-width: 225px;
	max-height: 300px;

	&:hover {
		.template-option {
			opacity: 1;
			visibility: visible;
			top: 0px;

			.button-set {
				margin: 35% 0% 25%;

				@include min-screen($sm)  {
					margin: 40% 0%;
				}
			}
		}
	}

	.template-preview-container & {
		$template-width: 25%;
		$template-margin: 2%;
		width: (100% - (3 * $template-margin))/4;
		margin-right: $template-margin;

		&:last-child{
			margin-right: 0%;
		}

		max-width: 225px;
		max-height: 300px;
		position: relative;
		cursor: pointer;
		
		img {
			width: 100%;
		}
	}

	.template-pointer {
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid red;
		position: absolute;
		/*the green padding is 20px + the size of the arrow*/
		bottom: -20px + (-20px);
		left: 50%;
		@include transform(translateX(-50%));
		display: none;

		&.active {
			display: block;
		}
	}
}

.template-option {
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 40%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	@include min-screen($sm) {
		top: 45%;
	}
	@include transition (all 0.4s ease-out);

	.btn-x {
		position: absolute;
		padding: 1px 6px;
		right: 10px;
		top: 10px;
	}

	.button-set {
		margin: 15% 0% 0% 0%;

		@include transition (all 0.4s ease-out);

		.btn {
			display: block;
			margin: 0 auto 5px;
			padding: 10px 30px;
			width: 130px;
			@include font-size (25px);

			@include min-screen($sm) {
				padding: 3px 6px;
				width: 80px;
				@include font-size (20px);
			}
		}
	}
}

.template-info {
	background-color: gray;
	position: absolute;
	bottom: 0px;

	p {
		display: table-cell;
		vertical-align: middle;
		text-align: left;
		@include font-size (18px);
		line-height: 13px;
		padding: 10px;
		color: white;
	}
}

/*===========================================
Dashboard - Modal
===========================================*/
.modal-section {
	background-color: green;
	height: 400px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/*
	can't use display table-cell. This would stretch a across the screen and clicking on the section would call the modal
	Flex is used instead. But note that it isn't supported in IE 8 and 9. It's partially supported in IE
	*/
	a {
		color: white;
		@include font-size (50px);
	}
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    @include transition (opacity 0.2s ease-in);
    /* 	Note that Pointer Events aren't supported in IE8, 9, 10 */
    pointer-events: none;
    display: flex;
	justify-content: center;
	align-items: center;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog  {

	& > div {

		min-width: 280px;
		max-width: 400px;
		position: relative;
		padding: 30px;
		border-radius: 10px;
		margin: 0px 20px;
		background: #fff;

		.close {
			position: absolute;
		    background: #606061;
		    color: #FFFFFF;
		    line-height: 24px;
		    right: -12px;
		    text-align: center;
		    top: -10px;
		    width: 24px;
		    font-weight: normal;
		    @include border-radius (12px);
		    @include font-size (24px);
		    opacity: 1.0;

		    &:hover {
		    	background: #00d9ff;
		    }
		}
	}
}

.modal-button-set {
	margin: 10px 0px;
	.btn-set {
		
	}
	.btn {
		border-radius: 0px;
		width: 25%;
		min-width: 50px;
		text-align: center;
		padding: 2px 0px;
	}
}
.modal-right-side {
	width: 75%;
	margin-left: 25%;

	p {
		text-align: center;
		margin-bottom: 0px;
		background-color: green;
		color: white;
		border-radius: 6px;
	}
}

.modal-line-pointer {
	border-left: 2px solid gray;
	border-right: 2px solid gray;
	height: 10px;
	position: relative;

	.hr {
		height: 1px;
		width: 100%;
		background-color: gray;
		position: absolute;
		top: 4px;
	}
}
/*===========================================
Dashboard - Tab
===========================================*/
.tabs-section  {
	width: 100%;
	background-color: white;
	display: table;
}

.tab-set {
	display: table-cell;
	vertical-align: middle;
	text-align: center;

	.tab-header {
		background-color: violet;
		padding: 20px 10px;
	}

	ul {
		list-style: none;
		display: inline-block;
		padding: 0;
		margin-right: 10px
	}

	li {
		border-bottom: 1px solid gray;
		width: 100%;
		height: 60px;
		padding: 10px;
		display: table;
		@include font-size (20px);

		@include min-screen($sm) {
			width: 200px;
			padding: 0px 10px;
		}
	}

	span {
		vertical-align: middle;
		display: table-cell;
	}

	.column2,
	.column3 {
		margin-bottom: 20px;
		@include min-screen($sm) {
			margin-bottom: 0px;
		}

		span:first-child {
			color: red;
			display: block;
			@include min-screen($sm) {
				display: none;
			}
		}

		span:nth-child(2) {
			color: blue;
			display: block;
			@include min-screen($sm) {
				display: table-cell;
			}
		}
	}

	.column1 {
		text-align: right;
		display: none;

		li {
			border-bottom: 2px solid green;
		}

		@include min-screen($sm) {
			display: inline-block;
		}

	}

	.column2 {

		li:not(.tab-header) {
			background-color: yellow;
			
			&:nth-child(odd){
				background-color: orange;
			}
		}
	}

	.column3 {
		margin-right: 0px;
		li:not(.tab-header) {
			background-color: aquamarine;

			&:nth-child(odd) {
				background-color: lightblue;
			}
		}
	}

}
/*===========================================
Dashboard - Form
===========================================*/
.forms-section  {
	height: auto;
	width: 100%;
	background-color: lightgreen;
	display: table;

	.container {
		display: table-cell;
		vertical-align: middle;
	}
}


.input-container {
	margin-bottom: 20px;

	> label {

		@include min-screen($sm) {
			text-align: right;
		}	
	}

	@include min-screen($sm) {
		margin-bottom: 10px;
	}
}

.forms-set {
	width: 80%;
	margin: 0 auto;

	> div {
		border-bottom: 1px solid red;
		padding: 10px 0px;

		&:first-child {
			border-top: 1px solid red;
		}
	}
}

label {

	width: 40%;
	float: left;
	@include font-size (30px);
	@include min-screen($sm) {
		width: 25%;
		text-align: left;
		padding-right: 20px;
	}

	.input-text & {
		width: 100%;
		padding: 0px;
		text-align: left;

		@include min-screen($sm) {
			width: 25%;
			float: left;
			text-align: right;
			padding-right: 20px;
		}
	}
}

label + div {
	line-height: 25px;

	.input-text & {
		@include min-screen($sm) {
			width: 75%;
			float: right;
		}
	}
}

.input-text {

	input {
		width: 100%;
	}

	textarea {
		width: 100%;
		resize: none;
	}

}

.input-radio {

	.input-container:nth-child(4) {

		> label {
			width: 100%;
			float: none;
			text-align: center;
			border: 1px solid black;
			padding: 20px 0px;
			border-width: 1px 0px 1px;

			/*This is inefficient, use max-screen instead to cover that break point*/

			@include min-screen($sm) {
				padding: 0px 20px 0px 0px;
				width: 25%;
				float: left;
				text-align: right;
				border: 0px;
			}
		}
	}

	.multi-choice {
		text-align: center;

		@include min-screen($sm) {
			text-align: left;
		}

		input {
			margin-right: 10px;
		}

		label {
			float: none;
			margin-right: 5px;
			width: auto;
		}
	}
}

.input-select {

	label + div > select {

		@include font-size(30px);
		vertical-align: -2px;
	}
}

/*===========================================
Dashboard - LabelJump-Form
===========================================*/
.labeljump-form {

	.container {
		border: 1px solid red;
		padding: 50px 0px;
	}

	.form-container {
		width: 50%;
		margin: 0 auto;
		position: relative;
		margin-bottom: 50px;
		@include min-screen($sm) {
			width: 30%;
		}
		&:last-child {
			margin-bottom: 0px;
		}
	}

	input, label {
		display: block;
		width: 100%;
		line-height: 30px;
		border: 0px;
		font-size: 15px;
		padding-left: 10px;
	}

	input {
		z-index: 1;
		background-color: rgba(0,0,0,0);
		border-bottom: 2px solid $carrot;
		&:focus {
			outline: none;

			+ label {
				top: -100%;
				color: $peterriver;
				font-size: 16px;
			}
		}
	}

	label {
		z-index: -1;
		top: 0px;
		position: absolute;
		color: rgba(0,0,0,0.2);
		@include transition (all 0.3s ease);
	}
}