@import "all";
@import "articles";
/*=========================================================
CONTENTS
=========================================================*/

/* Hide Things with CSS */
.study-master {
	ul {
		li {
			&:first-child {
				margin-top: 10px
			}

			&:nth-child(odd) {
				background-color: $orange;
			}

			background-color: $sunflower;
			padding: 10px 30px;
			display: block;
			max-width: 35%;
			@include font-size (30px);
			a {
				color: $belizehole;
			}
		}
	}
}

.study-hide-css {
	.pumpkin-carrot {
	  border-color: $carrot;
	  background-color: $pumpkin;
	  color: $cloud;
	}
	> section {
		position: relative;
		margin: 20px 0px;
	}

	table, tr, th, td {
		border: 1px solid $asbestos;
		background-color: $cloud;
		padding: 5px;
	}

	.toggle {
		margin-bottom: 20px;
	}

	.content-display {
		padding: 20px 50px;
		margin-bottom: 20px;
		display: block;

		&.display-none {
			border: 1px solid blue;
			display: none;
		}
	}
	
	.content-opacity {
		margin-bottom: 20px;	
		opacity: 1;
		padding: 20px;
		position: absolute;
		width: 80%;
		/*Activate visibility to the link behind it clickable*/
		// visibility: visible;
		@include transition (all 0.2s);

		+ a {
			bottom: 40px;
		}

		&.zero-opacity {
			border: 1px solid blue;
			opacity: 0;
			// visibility: hidden;
		}
	}

	.content-dropdown {
		height: 100px;
		margin-bottom: 20px;
		opacity: 1;
		padding: 20px;
		position: absolute;
		width: 80%;
		visibility: visible;
		@include transition (all 0.2s);

		&.collapse-down {
			// border: none;
			width: 80%;
			border: 1px solid red;
			padding: 20px;
			height: 0px;
			visibility: none;
			opacity: 0;
		}
	}

	.content-display,
	.content-opacity,
	.content-dropdown {
		+ a {
			display: block;
			color: $midnightblue;
			padding: 10px;
			border: 1px dashed $wetasphalt;
		}
	}
}

.study-subtitle-wrap {

	.container h3 {
		width: 50%;
		margin: 50px auto;
		border-bottom: 3px solid $carrot;
		// background-color: $concrete;
	}

	.title-main-title {
		// border: 1px solid $cloud;
		background-color: $turquoise;
	}

	.title-sub-title {
		font-size: 70%;
		background-color: $greensea;
		color: $cloud;
		// border: 1px solid $cloud;
	}
	
	.title1 {
		.title-sub-title {
			float: right;
		}
	}

	.title2 {

		overflow: hidden;

		.title-sub-title {
			margin-top: 5px;
			float: right;
		}
	}

	.title3 {

		overflow: hidden;

		.title-sub-title {
			margin-top: 5px;
			float: right;
			width: 100%;
		}
	}

	.title4 {
		position: relative;

		.title-sub-title {
			position: absolute;
			bottom: 0px;
			right: 0px;
		}
	}

	.title5 {

		position: relative;
		.title-main-title  {
			@include max-screen (980px) {
				display: block;
			}
		}
		.title-sub-title {
			@include max-screen (980px) {
				position: relative;
			}
			position: absolute;
			bottom: 0px;
			right: 0px;
		}
	}

	.title6 {
		display: table;

		.title-main-title,
		.title-sub-title  {
		    display: table-cell;
		}
		.title-sub-title {
			text-align: right;
		}
	}

	.title7 {
		display: table;
		@include max-screen (980px)  {
			display: block;
		}
		.title-main-title,
		.title-sub-title  {
		    display: table-cell;
		    @include max-screen (980px)  {
		    	display: block;
		    }
		}
		.title-sub-title {
			text-align: right;
			@include max-screen (980px)  {
				text-align: left;
			}
		}
	}

	.title8 {
		@include flex;
		align-items: flex-end;
		justify-content: space-between;

		.title-main-title,
		.title-sub-title  {

		}
		.title-sub-title {

		}
	}
	.title9 {
		@include flex;
		align-items: flex-end;
		justify-content: space-between;

		.title-main-title {
			flex-grow: 1;
		}
	}

	.title10 {
		@include flex;
		align-items: flex-end;
		justify-content: space-between;
		white-space: nowrap;

		.title-main-title {
			flex-grow: 1;
		}
	}

	.title11 {
		@include flex;
		align-items: flex-end;
		justify-content: space-between;
		white-space: nowrap;
		flex-wrap: wrap;
		.title-main-title {
			flex-grow: 1;
		}
	}
}

.study-magic-number {
	.notes {
		li {
			list-style: initial;
		}
	}

	.tab {
		li {
			padding: 10px 20px;
			background-color: $asbestos;
			color: $cloud;
			display: inline-block;
		}
	}

	.graybox {
		background-color: $asbestos;
		width: 100%;
		padding: 20px 0px;
	}

	.container {
		h2, button {
			margin-bottom: 20px;
		}
	}

	.tab-example {
		.tab2 {
			li {
				width: 100px;
			}
		}

		.tab3 {
			li {
				width: 100px;
				white-space: nowrap;
			}
		}

		.tab4 {
			li {
				min-width: 100px;
			}
		}
	}

	.float-text-container {
		.float-text {
			background-color: $wisteria;
			border: 1px solid $carrot;
			width: 50%;
			float: left;
			padding: 20px;
			&:nth-child(odd) {
				background-color: $amethyst;
			}
		}

		&.fixed-height {
			.float-text {
				height: 240px;
			}
		}
		&.min-height {
			.float-text {
				min-height: 240px;
			}
		}
	}

	.dropdown-example {
		.dropdown {
			li {
				background-color: $amethyst;
				display: inline-block;
				padding: 5px 20px;
				position: relative;
				&:hover {
					background-color: $wisteria;
					color: $cloud;

					ul {
						display: block;
					}
				}

				ul {
					display: none;
					position: absolute;
					top: 100%;
					left: 0px;
				}
			}
		}
	}
}

.study-float {
	.container > img {
		margin-bottom: 20px;
	}

	.text-container {
		width: 800px;
		margin: 0 auto;
		padding: 20px;
		background-color: gray;
		color: $cloud;
	}

	.floater {
		background-color: $pomegranate;
		width: 100px;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: black;
		float: left;
		padding: 5px;
	}

	.main-column,
	.side-column {
		padding: 20px;
	}

	.main-column {
		width: 300px;
		float: left;
		background-color: $asbestos;
	}

	.side-column {
		width: 180px;
		float: right;
		background-color: $asbestos;
	}

	.footer-bar {
		background-color: $midnightblue;
		color: $cloud;
	}

	.float2 {
		color: red;
	}

	.float3 {
		.main-column,
		.side-column {
			width: 50%;
		} 

		.main-column {
			background-color: $concrete;
		}

		.footer {
			width: auto;
			padding: 20px;
		}
	}

	.float4 {
		.main-column,
		.side-column {
			width: 50%;
		} 

		.main-column {
			background-color: $concrete;
		}

		.footer-bar {
			width: auto;
			padding: 20px;
			clear: both;
		}
	}

	.float5 {
		margin-bottom: 20px;
		.floater {
			float: right;
			margin: 5px;
		}
	}
	.float6 {
		.floater{
			float: right;
			margin: 5px;
		}

		.floater2 {
			clear: right;
		}
	} 
	.float7 {
		.floater {
			float: left;
			margin: 5px;
		}
		.row1 {
			background-color: $orange;
		}	
		.row2 {
			background-color: $pomegranate;
		}
		.row3 {
			background-color: $greensea;
		}
	} 
}

.study-vertical-align-img-text {
	.container {
		.img-container,
		.txt-container {
			border: 1px solid green;
			width: 50%;
			float: left;
		}
		.txt-container > *{
			display: inline-block;
			border: 1px solid blue;
			margin: 0px;
			padding: 0px;
		}
		img {
			display: inline-block;
			border: 1px solid red;
		}
		.box {
			min-width: 10px;
			min-height: 20px;
			display: inline-block;
			background-color: $pomegranate;
		}
		.tall {
			height: 80px;
		}
		.top > * {
			vertical-align: top;
		}
		.middle > * {
			vertical-align: middle;
		}
		.baseline > * {
			vertical-align: baseline;
		}
		.bottom > * {
			vertical-align: bottom;
		}
		.text-top > * {
			vertical-align: text-top;
		}
		.text-bottom > * {
			vertical-align: text-bottom;
		}
		.va30 > * {
			vertical-align: 30px;
		}
		.va-30 > * {
			vertical-align: -30px;
		}
	}
}

.study-row-machine {
	* {
		box-sizing: border-box;
	}
	.box {
		background-color: white;
		padding: 5px;
		border: 1px solid $carrot;
		float:left;
		width: 25%;
		
		img {
			max-width: 100%
		}
	}
	.row-machine {
		width: 80%;
		margin: 0 auto;
		border: 2px solid $alizarin;
		padding: 10px;
	}

	.rm1 {
		.box {
			width: 100%/4;
		}
	}

	.rm2 {
		.box {
			width: 100%/4;
			margin-right: 2%;
		}
	}

	.work-display {
		text-align: center;
		padding: 20px 0px; 
		margin: 20px 0px;
		border: 1px solid $midnightblue;
		border-width: 1px 0px 1px 0px;

		img {
			max-width: 100%;
		}
	}

	.rm3 {
		.box {
			width: (100% - (3 * 2%))/4;
			margin-right: 2%;
			&:nth-child(4n) {
				margin-right: 0px;
			}
		}
	}

	.rm4 {
		.box {
			$numPerRow: 4;
			$margin: 2%;

			width: (100% - (($numPerRow - 1) * $margin))/$numPerRow;
			margin-right: $margin;
			&:nth-child(#{$numPerRow}n) {
				margin-right: 0px;
			}
		}
	}

	.rm5 {
		@mixin rowMachine ($numPerRow, $margin) {

			width: (100% - (($numPerRow - 1) * $margin))/$numPerRow;
			margin-right: $margin;
			&:nth-child(#{$numPerRow}n) {
				margin-right: 0px;
			}
		}

		.box {
			@include rowMachine(5,2%);
		}
	}

	.rm6 {
		@mixin rowMachine ($numPerRow, $margin) {

			width: (100% - (($numPerRow - 1) * $margin))/$numPerRow;
			margin-right: $margin;
			&:nth-child(#{$numPerRow}n) {
				margin-right: 0px;
			}
		}

		.box {
			@include rowMachine(3,2%);

			@include min-screen($sm) {
				@include rowMachine(5,2%);
			} 
		}
	}

	.rm7 {
		@mixin rowMachine ($numPerRow, $margin) {

			width: (100% - (($numPerRow - 1) * $margin))/$numPerRow;
			margin-right: $margin;
			&:nth-child(n) {
				margin-right: $margin;
				margin-bottom: $margin;
			}
			&:nth-child(#{$numPerRow}n) {
				margin-right: 0px;
			}
		}

		.box {
			@include rowMachine(3,2%);

			@include min-screen($sm) {
				@include rowMachine(5,2%);
			} 
		}
	}
}