/*Using 100% for both html and body will allow the header */
html, body {
   width: 100%;
   height: 100%;  
}

.intro-header {
   background: url("../img/landingpagebg.jpg") no-repeat center center scroll;
   background-size: cover;
   width: 100%;
   height: 100%;

}

.logo {
   max-width: 50%;
}

.logo-section {
   display: table;
   height: 100%;
   width: 50%;
   border: 1px solid red;
}

.vertical-text {
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   border: 1px solid green;
   }
