@import "all";

/*Using 100% for both html and body will allow the header */
html, body {
	width: 100%;
	height: 100%;
}
a:hover{
	text-decoration: none;
}

section {
	padding: 100px 0px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*===========================================
Landing Page
===========================================*/
.landing-page {

	.navbar-btn {
		margin-right: 15px;
	}

	.intro-header {
		background: url("../img/landingpagebg2.jpg") no-repeat center center scroll;
		@include background-size (cover);
		width: 100%;
		height: 100%;
		display: table;
	}

	.logo {
		max-width: 50%;
	}

	.vertical-text {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		background-color: rgba(255,255,255,0.5);
		background-color: rgba(0,0,0,0.7);
		color: white;
	}
}
/*===========================================
Dashboard 
===========================================*/
.dashboard-page {
	.side-note {
		position: fixed;
		top:0%;
		width:10%;
		border: 1px solid red;
		@include font-size(20px);
	}
  	/*HEADER*/
	.top-header {
		height: 50px;
		display: table;
		position: relative;
		background-color: darkgray;
		width: 100%;

		span {
			display: table-cell;
			text-align: center;
			vertical-align: middle;

		img {
			max-width: 10%;
			}
		}

		.btn {
			position: absolute;
			right: 20px;
		}
	}
}
/*===========================================
Dashboard - Dropdown
===========================================*/
.dashboard-dropdown {
	text-align: left;
	height: 40px;
	background-color: gray;
	position: relative;
	z-index: 9999;

	.article-dropdown {
		left: 16%;
	}

	.tutorial-dropdown {
		left: 34%;
	}

	ul {
		list-style: none;
		padding: 0px;
		position: relative;
		display: inline-table;

		&:after {
			content:"";
			clear: both;
			display: block;
		}

		li {
			background-color: gray;
			border: 1px solid red;
			color: white;
			padding: 10px 20px;
			float: left;
			cursor: pointer;
			&:hover {
				background-color: red;
			}
			a {
				color: white;
			}
		}
	}

	ul ul {
		display: none;
		position: absolute;
		top: 100%;

		li {
			float: none;
			position: relative;

			&:hover {
				background-color: red;
			}
		}
	}
	
	ul ul ul {
		left: 100%; 
		top:0;
	}

	ul li:hover > ul {
		display: block;
	}
}
/*===========================================
Dashboard - Template Selector
===========================================*/
.template-preview-container {
	padding: 100px 10px 20px;
	background-color: green;
}

.template-select-container {
	position: relative;
	width: 90%;
	margin: 0 auto;
	padding: 40px 0px;
}

.template-pointer {
	position: absolute;
	top: 0%;
	left: 140px;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid green;
}

.template-set {
	margin: 0 auto;
	text-align: center;
	padding: 0px;

	.template-select-container & {
		text-align: center;
	}
}

.template {
	display: inline-block;
	position: relative;
	margin-right: -4px; /*li gap fix*/
	padding: 5px;

	&:hover {
		.template-option {
			top: 5px;
			height: 230px;
			opacity: 1
		}
	}
}

.template-option {
	// display: none;
	position: absolute;
	height: 230px;
	background-color: rgba(0,0,0,0.7);
	display: table;
	width: 95%;
	top: 55px;
	opacity: 0;
	@include transition (all 0.5s ease);

	.btn-x {
		position: absolute;
		padding: 1px 6px;
		right: 10px;
		top: 10px;
	}

	.button-set {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		button {
			display: block;
			margin: 0 auto 5px;
		}
	}
}

.template-info {
	background-color: gray;
	position: relative;
	bottom: 0px;
	height: 50px;
	width: 180px;
	display: table;
	p {
		display: table-cell;
		vertical-align: middle;
		text-align: left;
		@include font-size (18px);
		line-height: 13px;
		padding: 5px;
	}
}

/*===========================================
Dashboard - Modal
===========================================*/
.modal-section {
	background-color: green;
	height: 400px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/*
	can't use display table-cell. This would stretch a across the screen and clicking on the section would call the modal
	Flex is used instead. But note that it isn't supported in IE 8 and 9. It's partially supported in IE
	*/
	a {
		color: white;
		@include font-size (50px);
	}
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    @include transition (opacity 0.2s ease-in);
    /* 	Note that Pointer Events aren't supported in IE8, 9, 10 */
    pointer-events: none;
    display: flex;
	justify-content: center;
	align-items: center;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog  {
	& > div {
		width: 400px;
		position: relative;
		padding: 5px 20px 13px 20px;
		border-radius: 10px;
		margin: 0px 20px;
		background: #fff;

		.close {
			position: absolute;
		    background: #606061;
		    color: #FFFFFF;
		    line-height: 24px;
		    right: -12px;
		    text-align: center;
		    top: -10px;
		    width: 24px;
		    font-weight: normal;
		    @include border-radius (12px);
		    @include font-size (24px);
		    opacity: 1.0;

		    &:hover {
		    	background: #00d9ff;
		    }
		}
	}
}

.modal-button-set {
	display: table;
	margin: 10px 0px;
	.btn {
		display: table-cell;
		border-radius: 0px;
	}

}
.modal-right-side {
	width: 224px;
	margin-left: 75px;

	p {
		text-align: center;
		margin-bottom: 0px;
		background-color: green;
		color: white;
		border-radius: 6px;
	}
}
.modal-line-pointer {
	border-left: 2px solid gray;
	border-right: 2px solid gray;
	height: 10px;
	position: relative;

	.hr {
		height: 1px;
		width: 100%;
		background-color: gray;
		position: absolute;
		top: 4px;
	}
}
/*===========================================
Dashboard - Tab
===========================================*/
.tabs-section  {
	height: 600px;
	width: 100%;
	background-color: white;
	display: table;
}

.tab-set {
	display: table-cell;
	vertical-align: middle;
	text-align: center;

	.tab-header {
		background-color: violet;
	}

	ul {
		list-style: none;
		display: inline-block;
		padding: 0;
		margin-right: 10px
	}

	li {
		border-bottom: 1px solid gray;
		width: 200px;
		height: 60px;
		padding: 0px 10px;
		display: table;
		@include font-size (20px);
	}

	span {
		display: table-cell;
		vertical-align: middle;
	}

	.column1 {
		text-align: right;

		li {
			border-bottom: 2px solid green;
		}
	}

	.column2 {

		li:not(.tab-header) {
			background-color: yellow;
			
			&:nth-child(odd){
				background-color: orange;
			}
		}
	}

	.column3 {

		li:not(.tab-header) {
			background-color: aquamarine;

			&:nth-child(odd) {
				background-color: lightblue;
			}
		}
	}

}
/*===========================================
Dashboard - Form
===========================================*/
.forms-section  {
	height: auto;
	width: 100%;
	background-color: lightgreen;
	display: table;

	.section-container {
		display: table-cell;
		vertical-align: middle;
	}

	.input-container {
		> label {
			text-align: right;
			padding-right: 20px;
		}
	}
}

.forms-set {
	width: 80%;
	margin: 0 auto;
	> div {
		border-bottom: 1px solid red;
		padding: 10px 0px;
		&:first-child {
			border-top: 1px solid red;
		}
	}
	.input-container {
		margin-bottom: 5px;
	}

	label {
		width: 25%;
		float: left;
		@include font-size (30px);
		/*This and label + div needs to have same height*/
	}

	label + div {
		width: 75%;
		float: right;
		line-height: 25px;
	}
	
}

.input-text {
	input {
		width: 100%;
	}
	textarea {
		width: 100%;
		resize: none;
	}
}

.input-radio {
	.multi-choice {
		text-align: center;
		input {
			margin-right: 10px;
		}
		label {
			float: none;
			margin-right: 5px;
			width: auto;
		}
	}
}

.input-select {
	label + div > select {
		@include font-size(30px);
		vertical-align: -2px;
	}
}