/*Material Design Colors*/
/*quick border*/
/*clear fixes*/
/* line 37, ../sass/_mixin.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 42, ../sass/_mixin.scss */
.clearfix:after {
  clear: both;
}

/*layout*/
/*background-size*/
/*fonts*/
/*Transition*/
/*Break Point*/
/*Background-size*/
/*Fonts*/
/*
  Fool-Proof @font-face
  A PEN BY Steve Hickey
  http://codepen.io/javasteve99/pen/hDxpn
*/
/*Inline Gap Fix*/
/* line 164, ../sass/_mixin.scss */
.gapfix {
  font-size: 0px;
}

/* line 168, ../sass/_mixin.scss */
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@font-face {
  font-family: Aller-Light;
  src: url("../fonts/Aller-Lite.eot");
  src: url("../fonts/Aller-Lite.eot?#iefix") format("embedded-opentype"), url("../fonts/Aller-Lite.woff") format("woff"), url("../fonts/Aller-Lite.ttf") format("truetype"), url("../fonts/Aller-Lite.svg#Aller-Light") format("svg");
  font-weight: 100;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Aller-Light;
    src: url("../fonts/Aller-Lite.svg#Aller-Light") format("svg");
  }
}
@font-face {
  font-family: Aller-Light-Italic;
  src: url("../fonts/Aller-Lite-Italic.eot");
  src: url("../fonts/Aller-Lite-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Aller-Lite-Italic.woff") format("woff"), url("../fonts/Aller-Lite-Italic.ttf") format("truetype"), url("../fonts/Aller-Lite-Italic.svg#Aller-Light-Italic") format("svg");
  font-weight: 100;
  font-style: italic;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Aller-Light-Italic;
    src: url("../fonts/Aller-Lite-Italic.svg#Aller-Light-Italic") format("svg");
  }
}
@font-face {
  font-family: Aller-Regular;
  src: url("../fonts/Aller-Regular.eot");
  src: url("../fonts/Aller-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Aller-Regular.woff") format("woff"), url("../fonts/Aller-Regular.ttf") format("truetype"), url("../fonts/Aller-Regular.svg#Aller-Regular") format("svg");
  font-weight: 200;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Aller-Regular;
    src: url("../fonts/Aller-Regular.svg#Aller-Regular") format("svg");
  }
}
@font-face {
  font-family: Aller-Regular-Italic;
  src: url("../fonts/Aller-Italic.eot");
  src: url("../fonts/Aller-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Aller-Italic.woff") format("woff"), url("../fonts/Aller-Italic.ttf") format("truetype"), url("../fonts/Aller-Italic.svg#Aller-Regular-Italic") format("svg");
  font-weight: 200;
  font-style: italic;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Aller-Regular-Italic;
    src: url("../fonts/Aller-Italic.svg#Aller-Regular-Italic") format("svg");
  }
}
@font-face {
  font-family: Aller-Bold;
  src: url("../fonts/Aller-Bold.eot");
  src: url("../fonts/Aller-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Aller-Bold.woff") format("woff"), url("../fonts/Aller-Bold.ttf") format("truetype"), url("../fonts/Aller-Bold.svg#Aller-Bold") format("svg");
  font-weight: 300;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Aller-Bold;
    src: url("../fonts/Aller-Bold.svg#Aller-Bold") format("svg");
  }
}
@font-face {
  font-family: Aller-Bold-Italic;
  src: url("../fonts/Aller-Bold-Italic.eot");
  src: url("../fonts/Aller-Bold-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Aller-Bold-Italic.woff") format("woff"), url("../fonts/Aller-Bold-Italic.ttf") format("truetype"), url("../fonts/Aller-Bold-Italic.svg#Aller-Bold-Italic") format("svg");
  font-weight: 300;
  font-style: italic;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Aller-Bold-Italic;
    src: url("../fonts/Aller-Bold-Italic.svg#Aller-Bold-Italic") format("svg");
  }
}
/*General SHARED*/
/* line 46, ../sass/fooseshoe.scss */
ul li {
  list-style: none;
}

/* line 50, ../sass/fooseshoe.scss */
.container {
  border-width: 0px 2px;
  padding: 0px;
}

/* line 56, ../sass/fooseshoe.scss */
p {
  font-family: 'Aller-Regular', arial, sans-serif;
  font-weight: 200;
  font-style: normal;
}

/* line 60, ../sass/fooseshoe.scss */
.tag {
  display: table;
  vertical-align: middle;
  width: 60px;
  height: 60px;
}
/* line 66, ../sass/fooseshoe.scss */
.tag p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
}
/* line 74, ../sass/fooseshoe.scss */
.tag.price-tag, .tag.date-tag {
  background-color: #57c5a0;
  color: white;
}
/* line 80, ../sass/fooseshoe.scss */
.tag.on-sales-tag {
  background-color: #242424;
  color: white;
}
/* line 85, ../sass/fooseshoe.scss */
.tag.out-of-stock-tag {
  background-color: #f27e4b;
  color: white;
}

/* line 91, ../sass/fooseshoe.scss */
.three-col li {
  display: inline-block;
  width: 32%;
  margin-right: 2%;
}
/* line 98, ../sass/fooseshoe.scss */
.three-col li:nth-child(3n) {
  margin-right: 0%;
}

/*Index Parallax Page*/
/* line 112, ../sass/fooseshoe.scss */
.affixed-top {
  position: fixed;
  top: 0;
  z-index: 9999;
}

/* line 118, ../sass/fooseshoe.scss */
.parallax {
  height: 100vh;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 20px;
}

/*using max-width will cause the image to be squashed*/
/* line 126, ../sass/fooseshoe.scss */
.flex-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
/* line 133, ../sass/fooseshoe.scss */
.flex-fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
/* line 139, ../sass/fooseshoe.scss */
.group-3 .flex-fill {
  justify-content: flex-start;
  align-items: stretch;
}

/* line 145, ../sass/fooseshoe.scss */
.parallax-layer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 1;
}
/* line 150, ../sass/fooseshoe.scss */
.parallax-layer .container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Chrome, Safari, Opera */
  transform: translate(-50%, -50%);
  font-size: 50px;
  border-right: 5px solid red;
  border-left: 5px solid red;
}
/* line 160, ../sass/fooseshoe.scss */
.parallax-layer .container p {
  font-size: 35%;
}

/*
	TranslateZ determines the layer order of the section
	1 	- foreground layer
	0 	- base layer
	-1 	- background layer
	translating an element along the Z axis has a side effect - its effective size changes as we move it closer to or farther away from the viewport. To counter this we need to apply a scale() transform to the element so that it appears to be rendered at its original size

	Example 
	transform: translateZ(-1px) scale(2);
	transform: translateZ(-2px) scale(3);

	The further the value is from 0 the more pronounced the parallax effect (i.e. translateZ(-10px) will scroll slower than translateZ(-1px)).
*/
/* line 180, ../sass/fooseshoe.scss */
.parallax-layer-back {
  /*translate(-7px) fixes the gap alignment issue*/
  -ms-transform: translateZ(-1px) translateX(-7px) scale(2);
  /* IE 9 */
  -webkit-transform: translateZ(-1px) translateX(-7px) scale(2);
  /* Chrome, Safari, Opera */
  transform: translateZ(-1px) translateX(-7px) scale(2);
  z-index: -1;
}

/* line 186, ../sass/fooseshoe.scss */
.parallax-layer-base {
  -ms-transform: translateZ(0);
  /* IE 9 */
  -webkit-transform: translateZ(0);
  /* Chrome, Safari, Opera */
  transform: translateZ(0);
  z-index: 0;
}
/* line 191, ../sass/fooseshoe.scss */
.group-2 .parallax-layer-base .container {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 197, ../sass/fooseshoe.scss */
.group-3 .parallax-layer-base {
  border: 0px solid blue;
  border-top-width: 10px;
  border-bottom-width: 10px;
}
/* line 202, ../sass/fooseshoe.scss */
.group-2 .parallax-layer-base, .group-4 .parallax-layer-base {
  background-color: transparent;
}

/* line 208, ../sass/fooseshoe.scss */
.parallax-group {
  position: relative;
  height: 100vh;
  /*Why use this?*/
}

/*Home Page*/
/*Header - Logo and Login*/
/* line 221, ../sass/fooseshoe.scss */
.header-row {
  background-color: #242424;
}

/* line 226, ../sass/fooseshoe.scss */
.header-container > * {
  display: inline-block;
}
/* line 230, ../sass/fooseshoe.scss */
.header-container .login-tab {
  color: #7e7e7e;
  float: right;
  line-height: 45px;
  font-family: 'Aller-Regular', arial, sans-serif;
  font-weight: 200;
  font-style: normal;
}
/* line 236, ../sass/fooseshoe.scss */
.header-container .login-tab li {
  display: inline-block;
  padding: 0px 20px;
  border-right: 2px solid #383838;
  font-size: 10px;
}
/* line 241, ../sass/fooseshoe.scss */
.header-container .login-tab li a {
  color: #7e7e7e;
}

/* line 249, ../sass/fooseshoe.scss */
.header-logo {
  font-family: 'Aller-Light', arial, sans-serif;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
  color: #57c5a0;
  font-size: 20px;
  line-height: 45px;
}

/*Header - Navigation bar*/
/* line 259, ../sass/fooseshoe.scss */
.nav-row {
  background-color: #fff;
  line-height: 70px;
}

/* line 263, ../sass/fooseshoe.scss */
.nav-bar {
  display: inline-block;
  /*This height wasn't necessary at first, but gapfix font-size:0px is included, and this is needed*/
  height: 70px;
}
/* line 268, ../sass/fooseshoe.scss */
.nav-bar.right {
  float: right;
}
/* line 271, ../sass/fooseshoe.scss */
.nav-bar.right li {
  /*This is here because the right floating tabs will remain inline blocks even at $sm size*/
  display: inline-block;
}
/* line 277, ../sass/fooseshoe.scss */
.nav-bar .collapse {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  /* line 277, ../sass/fooseshoe.scss */
  .nav-bar .collapse {
    display: none;
  }
}
/* line 285, ../sass/fooseshoe.scss */
.nav-bar li {
  border-left: 1px solid #eeeeee;
  display: none;
  padding: 0px 20px;
  font-size: 14px;
  font-family: 'Aller-Regular', arial, sans-serif;
  font-weight: 200;
  font-style: normal;
}
@media screen and (min-width: 768px) {
  /* line 285, ../sass/fooseshoe.scss */
  .nav-bar li {
    display: inline-block;
  }
}
/* line 296, ../sass/fooseshoe.scss */
.nav-bar li:last-child {
  margin-right: 0px;
  border-right: 1px solid #eeeeee;
}
/* line 301, ../sass/fooseshoe.scss */
.nav-bar li > * {
  display: inline-block;
}
/* line 308, ../sass/fooseshoe.scss */
.nav-bar .counter {
  position: relative;
  background-color: #7e7e7e;
  border-radius: 5px;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-left: 3px;
}
/* line 317, ../sass/fooseshoe.scss */
.nav-bar .counter:hover {
  background-color: #57c5a0;
}
/* line 321, ../sass/fooseshoe.scss */
.nav-bar .counter:active {
  background-color: #4dae8d;
}
/* line 325, ../sass/fooseshoe.scss */
.nav-bar .counter span {
  line-height: 25px;
  position: absolute;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  line-height: 25px;
  color: #ECF0F1;
}

/*Section - Slider*/
/*Current Issue - Is there a better way to write the one below*/
/* line 339, ../sass/fooseshoe.scss */
.slider {
  overflow: hidden;
  /*This are rest of the 3 banners*/
  /*Right Side Info*/
}
/* line 343, ../sass/fooseshoe.scss */
.slider .container {
  position: relative;
}
/* line 348, ../sass/fooseshoe.scss */
.slider li:nth-child(2), .slider li:nth-child(3), .slider li:nth-child(4) {
  display: none;
}
/* line 356, ../sass/fooseshoe.scss */
.slider .main-banner {
  min-width: 600px;
}
/* line 360, ../sass/fooseshoe.scss */
.slider .slider-info-container {
  width: 50%;
  display: table;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 80px 20px 50px;
}
/* line 369, ../sass/fooseshoe.scss */
.slider .slider-info {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
/* line 374, ../sass/fooseshoe.scss */
.slider .slider-info > * {
  margin-bottom: 5px;
}
/* line 378, ../sass/fooseshoe.scss */
.slider .slider-info .slider-title, .slider .slider-info p {
  font-family: 'Aller-Light', arial, sans-serif;
  font-weight: 100;
  font-style: normal;
}
/* line 385, ../sass/fooseshoe.scss */
.slider .icon-set li {
  display: inline-block;
  margin-right: 5px;
  background-color: #fafaf8;
  padding: 10px;
}

/*Section - Slider Selector*/
/* line 398, ../sass/fooseshoe.scss */
.slider-selector {
  background-color: #2e2e2e;
}
/* line 408, ../sass/fooseshoe.scss */
.slider-selector .container {
  position: relative;
}
/* line 412, ../sass/fooseshoe.scss */
.slider-selector .slider-top {
  background-color: #57c5a0;
  height: 10px;
  left: 0%;
  position: absolute;
  top: 0px;
  width: 20%;
  z-index: 9999;
  /*Suggested Media Query Change*/
}
/* line 428, ../sass/fooseshoe.scss */
.slider-selector ul {
  text-align: center;
  font-family: 'Aller-Regular', arial, sans-serif;
  font-weight: 200;
  font-style: normal;
}
/* line 432, ../sass/fooseshoe.scss */
.slider-selector ul li {
  display: inline-block;
  padding: 20px 0px 10px;
  width: 20%;
  position: relative;
}
/* line 438, ../sass/fooseshoe.scss */
.slider-selector ul li:before {
  background-color: black;
  content: "";
  height: 10px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
/* line 449, ../sass/fooseshoe.scss */
.slider-selector ul li:hover .hover-image {
  opacity: 0.7;
  top: -100%;
}
/* line 455, ../sass/fooseshoe.scss */
.slider-selector ul li span {
  display: block;
  font-size: 12px;
  color: #acacac;
  line-height: 25px;
}
/* line 461, ../sass/fooseshoe.scss */
.slider-selector ul li span:first-child {
  font-size: 18px;
  line-height: 15px;
}
/* line 469, ../sass/fooseshoe.scss */
.slider-selector ul li:nth-child(1):hover .slider-top {
  left: 20%;
}
/* line 476, ../sass/fooseshoe.scss */
.slider-selector ul .hover-image {
  width: 100%;
  height: 70px;
  left: 0px;
  position: absolute;
  top: 0%;
  opacity: 0;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*Section - Special Offer*/
/* line 489, ../sass/fooseshoe.scss */
.special-offer {
  background-color: #242424;
}
/* line 492, ../sass/fooseshoe.scss */
.special-offer .container {
  padding: 20px 0px;
}
/* line 496, ../sass/fooseshoe.scss */
.special-offer li {
  position: relative;
}
/* line 501, ../sass/fooseshoe.scss */
.special-offer li:hover .hover-text p {
  opacity: 1;
  visibility: visible;
}
/* line 508, ../sass/fooseshoe.scss */
.special-offer li img {
  width: 100%;
}
/* line 512, ../sass/fooseshoe.scss */
.special-offer li .hover-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
/* line 519, ../sass/fooseshoe.scss */
.special-offer li .hover-text p {
  color: white;
  font-size: 20px;
  padding: 20px;
  background-color: rgba(32, 32, 32, 0.8);
  text-transform: uppercase;
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: 'Aller-Light', arial, sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* line 535, ../sass/fooseshoe.scss */
.product-display {
  background-color: #ebe7df;
  /*products.html*/
}
/* line 538, ../sass/fooseshoe.scss */
.product-display .container {
  padding: 20px 0px 40px;
  border-bottom: 1px solid #bcb5a7;
}
/* line 542, ../sass/fooseshoe.scss */
.product-display .container > div {
  margin: 20px 0px;
}
/* line 550, ../sass/fooseshoe.scss */
.product-display h3 {
  font-family: 'Aller-Light', arial, sans-serif;
  font-weight: 100;
  font-style: normal;
  line-height: 32px;
  display: inline-block;
  color: #242424;
}
/* line 556, ../sass/fooseshoe.scss */
.product-display h3 span {
  color: #bcb5a7;
  font-size: 15px;
  margin-left: 10px;
}
/* line 564, ../sass/fooseshoe.scss */
.product-display .view-and-sort {
  float: right;
  /*image height is 15px*/
  /*padding is divided by 2 to account for top and bottom padding*/
  /*-1px is to account for the border-height*/
}
/* line 567, ../sass/fooseshoe.scss */
.product-display .view-and-sort > * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  line-height: 30px;
}
/* line 573, ../sass/fooseshoe.scss */
.product-display .view-and-sort > *:last-child {
  margin-right: 0px;
}
/* line 578, ../sass/fooseshoe.scss */
.product-display .view-and-sort p {
  color: #bcb5a7;
  font-size: 14px;
}
/* line 586, ../sass/fooseshoe.scss */
.product-display .view-and-sort > img {
  padding: 6.5px;
  border: 1px solid #bcb5a7;
}
/* line 591, ../sass/fooseshoe.scss */
.product-display .view-and-sort .input-sort {
  border: 1px solid #bcb5a7;
  background-color: #ebe7df;
  height: 30px;
}
/* line 596, ../sass/fooseshoe.scss */
.product-display .view-and-sort .input-sort > * {
  display: inline-block;
  vertical-align: middle;
}
/* line 601, ../sass/fooseshoe.scss */
.product-display .view-and-sort .input-sort p {
  padding: 0px 0px 0px 20px;
  font-size: 14px;
}
/* line 606, ../sass/fooseshoe.scss */
.product-display .view-and-sort .input-sort img {
  padding: 7.5px;
}
/* line 612, ../sass/fooseshoe.scss */
.product-display button {
  background-color: transparent;
  border: 1px solid #bcb5a7;
  border-width: 1px;
  color: #bcb5a7;
  display: inline-block;
  float: right;
  font-size: 12px;
  line-height: 30px;
  padding: 0px 20px;
  font-family: 'Aller-Bold', arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 626, ../sass/fooseshoe.scss */
.product-display button:hover {
  background-color: #57c5a0;
  color: #ECF0F1;
  border: 1px solid #ECF0F1;
}
/* line 633, ../sass/fooseshoe.scss */
.product-display ul {
  margin-bottom: 20px;
}
/* line 637, ../sass/fooseshoe.scss */
.product-display .featured-shoes {
  background-color: white;
  position: relative;
  /*66px is the size of the price-info*/
}
/* line 642, ../sass/fooseshoe.scss */
.product-display .featured-shoes a {
  font-size: 16px;
}
/* line 646, ../sass/fooseshoe.scss */
.product-display .featured-shoes .affixed-bottom {
  position: absolute;
  bottom: 0px;
  left: 10px;
}
/* line 652, ../sass/fooseshoe.scss */
.product-display .featured-shoes .affixed-top {
  position: absolute;
  top: 0px;
  right: 10px;
}
/* line 659, ../sass/fooseshoe.scss */
.product-display .featured-shoes .shoe-name {
  border-top: 1px solid #cccccc;
  padding: 10px 0px;
  padding-left: 86px;
}
/* line 665, ../sass/fooseshoe.scss */
.product-display .featured-shoes img {
  margin: 0 auto;
}

/*how to achieve equal height column*/
/* line 672, ../sass/fooseshoe.scss */
.shoe-news {
  background-color: #ebe7df;
}
/* line 675, ../sass/fooseshoe.scss */
.shoe-news .container {
  padding: 30px 0px;
  display: table;
}
/* line 679, ../sass/fooseshoe.scss */
.shoe-news .container > div {
  display: table-cell;
  background-color: #dfdbd4;
  border-left: 10px solid #ebe7df;
  border-right: 10px solid #ebe7df;
  padding: 30px 20px;
  vertical-align: top;
}
/* line 688, ../sass/fooseshoe.scss */
.shoe-news .container > div:first-child {
  border-left: 0px;
}
/* line 691, ../sass/fooseshoe.scss */
.shoe-news .container > div:last-child {
  border-right: 0px;
}
/* line 697, ../sass/fooseshoe.scss */
.shoe-news .col-3 {
  width: 25%;
}
/* line 700, ../sass/fooseshoe.scss */
.shoe-news .col-6 {
  width: 50%;
}
/* line 704, ../sass/fooseshoe.scss */
.shoe-news h5 {
  font-family: 'Aller-Bold', arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 710, ../sass/fooseshoe.scss */
.shoe-news p {
  font-size: 14px;
}
/* line 714, ../sass/fooseshoe.scss */
.shoe-news .username {
  margin: 10px 0px;
  font-style: italic;
}
/* line 722, ../sass/fooseshoe.scss */
.shoe-news .post-entry {
  margin-bottom: 22.5px;
}
/* line 725, ../sass/fooseshoe.scss */
.shoe-news .post-entry h5, .shoe-news .post-entry p {
  line-height: 22.5px;
}
/* line 729, ../sass/fooseshoe.scss */
.shoe-news .post-entry h5 {
  margin: 0px;
  text-transform: none;
}
/* line 734, ../sass/fooseshoe.scss */
.shoe-news .post-entry .date-tag {
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}
/* line 740, ../sass/fooseshoe.scss */
.shoe-news .post-entry .date-tag p {
  padding: 0px 10px;
  line-height: initial;
}

/*Page 2 -- Products Page*/
/* line 749, ../sass/fooseshoe.scss */
.shoe-category {
  background-color: #2e2e2e;
  color: #acacac;
}
/* line 758, ../sass/fooseshoe.scss */
.shoe-category ul {
  padding: 20px 0px;
}
/* line 761, ../sass/fooseshoe.scss */
.shoe-category ul li {
  display: inline-block;
  background-color: #242424;
  color: #acacac;
  font-size: 14px;
  padding: 15px 20px;
  line-height: 14px;
  width: 22.75%;
  margin-right: 3%;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
/* line 773, ../sass/fooseshoe.scss */
.shoe-category ul li p {
  display: inline-block;
}
/* line 776, ../sass/fooseshoe.scss */
.shoe-category ul li img {
  background-color: white;
  float: right;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
/* line 784, ../sass/fooseshoe.scss */
.shoe-category ul li:first-child {
  background-color: #2e2e2e;
  text-align: left;
  font-size: 16px;
}
/* line 790, ../sass/fooseshoe.scss */
.shoe-category ul li:last-child {
  margin-right: 0%;
}
/* line 794, ../sass/fooseshoe.scss */
.shoe-category ul li a {
  color: #acacac;
}

/*Footer Section*/
/* line 806, ../sass/fooseshoe.scss */
.footer-widgets {
  background-color: #242424;
  color: white;
}
/* line 810, ../sass/fooseshoe.scss */
.footer-widgets .container {
  padding: 30px 0px;
  border: 1px solid #1c1c1c;
}
/* line 815, ../sass/fooseshoe.scss */
.footer-widgets h5 {
  text-transform: uppercase;
  margin: 20px 0px;
  color: #6f6f6f;
}
/* line 821, ../sass/fooseshoe.scss */
.footer-widgets li {
  font-size: 14px;
  vertical-align: top;
  padding: 20px;
}
/* line 826, ../sass/fooseshoe.scss */
.footer-widgets li p {
  font-style: italic;
  text-align: justify;
  color: #acacac;
}
/* line 832, ../sass/fooseshoe.scss */
.footer-widgets li a {
  color: #57c5a0;
}
/* line 838, ../sass/fooseshoe.scss */
.footer-widgets .twitter-widget p, .footer-widgets .twitter-widget span {
  margin-bottom: 10px;
}
/* line 843, ../sass/fooseshoe.scss */
.footer-widgets img {
  width: 100%;
  max-width: 100%;
}
/* line 849, ../sass/fooseshoe.scss */
.footer-widgets .flickr-widget-grid li {
  padding: 0px;
  margin-bottom: 2%;
}

/* line 856, ../sass/fooseshoe.scss */
.footer-social-row {
  background-color: #242424;
  /*input-height needs to be 16px because the icon is 16px tall*/
}
/* line 859, ../sass/fooseshoe.scss */
.footer-social-row .container {
  padding: 30px 0px;
}
/* line 862, ../sass/fooseshoe.scss */
.footer-social-row .container > div {
  display: inline-block;
}
/* line 870, ../sass/fooseshoe.scss */
.footer-social-row input {
  background-color: #2e2e2e;
  border: 0px;
  color: #acacac;
  font-size: 14px;
  line-height: 16px;
  margin-left: 20px;
  padding: 10px 15px;
  position: relative;
  vertical-align: middle;
}
/* line 881, ../sass/fooseshoe.scss */
.footer-social-row input + div {
  background-color: #7d7d7d;
  display: inline-block;
  padding: 10px;
}
/* line 888, ../sass/fooseshoe.scss */
.footer-social-row .social-icon-row {
  float: right;
  margin-right: 20px;
}
/* line 892, ../sass/fooseshoe.scss */
.footer-social-row .social-icon-row li {
  display: inline-block;
  background-color: #2e2e2e;
  vertical-align: middle;
  text-align: center;
  line-height: 36px;
  width: 36px;
  margin-left: 10px;
}

/* line 904, ../sass/fooseshoe.scss */
.footer-text {
  background-color: #2e2e2e;
}
/* line 907, ../sass/fooseshoe.scss */
.footer-text .container {
  padding: 30px 0px;
}
/* line 913, ../sass/fooseshoe.scss */
.footer-text a, .footer-text p {
  display: inline-block;
  font-size: 12px;
  color: #acacac;
}
/* line 918, ../sass/fooseshoe.scss */
.footer-text .copyright-text {
  line-height: 20px;
}
/* line 921, ../sass/fooseshoe.scss */
.footer-text .footer-menu {
  line-height: 40px;
  float: right;
}
