/*Material Design Colors*/
/*quick border*/
/*clear fixes*/
/* line 37, ../sass/_mixin.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 42, ../sass/_mixin.scss */
.clearfix:after {
  clear: both;
}

/*layout*/
/*background-size*/
/*fonts*/
/*Transition*/
/*Break Point*/
/*Background-size*/
/*Fonts*/
/*
  Fool-Proof @font-face
  A PEN BY Steve Hickey
  http://codepen.io/javasteve99/pen/hDxpn
*/
/*Inline Gap Fix*/
/* line 164, ../sass/_mixin.scss */
.gapfix {
  font-size: 0px;
}

/* line 168, ../sass/_mixin.scss */
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/*Stylesheet for Studies and Misc*/
/* line 3, ../sass/_articles.scss */
body {
  padding-top: 100px;
}

/* line 7, ../sass/_articles.scss */
.container {
  width: 100%;
  padding: 50px 100px;
}

/* line 13, ../sass/_articles.scss */
.footer {
  width: 100%;
  height: 60px;
  background-color: #34495E;
  color: #95A5A6;
  display: table;
}
/* line 20, ../sass/_articles.scss */
.footer p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* line 27, ../sass/_articles.scss */
section {
  padding: 50px 0px;
  border: 1px solid #7F8C8D;
  border-width: 2px 0px 2px 0px;
  background-color: #ECF0F1;
}
/* line 32, ../sass/_articles.scss */
section:nth-child(odd) {
  background-color: #BDC3C7;
}

/* line 37, ../sass/_articles.scss */
p {
  line-height: 25px;
  margin: 10px 0px;
}

/* line 43, ../sass/_articles.scss */
hr {
  border-top: 1px solid #2C3E50;
}

/* line 47, ../sass/_articles.scss */
p span,
pre {
  padding: 2px 5px;
  font-size: 14px;
  color: #D35400;
  border: 1px solid gray;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 56, ../sass/_articles.scss */
p span em,
pre em {
  font-weight: bold;
  color: red;
}

/* line 62, ../sass/_articles.scss */
p span {
  display: inline-block;
  line-height: initial;
}

/* line 68, ../sass/_articles.scss */
header h1 {
  margin-bottom: 20px;
}
/* line 71, ../sass/_articles.scss */
header h5 {
  margin-bottom: 10px;
}

/* line 76, ../sass/_articles.scss */
time {
  margin-bottom: 10px;
  display: block;
}

/*=========================================================
CONTENTS
=========================================================*/
/* Hide Things with CSS */
/* line 10, ../sass/study.scss */
.study-master ul li {
  background-color: #F1C40F;
  padding: 10px 30px;
  display: block;
  max-width: 35%;
  font-size: 30px;
  font-size: 1.875rem;
}
/* line 11, ../sass/study.scss */
.study-master ul li:first-child {
  margin-top: 10px;
}
/* line 15, ../sass/study.scss */
.study-master ul li:nth-child(odd) {
  background-color: #F39C12;
}
/* line 24, ../sass/study.scss */
.study-master ul li a {
  color: #2980B9;
}

/* line 32, ../sass/study.scss */
.study-hide-css .pumpkin-carrot {
  border-color: #E67E22;
  background-color: #D35400;
  color: #ECF0F1;
}
/* line 37, ../sass/study.scss */
.study-hide-css > section {
  position: relative;
  margin: 20px 0px;
}
/* line 42, ../sass/study.scss */
.study-hide-css table, .study-hide-css tr, .study-hide-css th, .study-hide-css td {
  border: 1px solid #7F8C8D;
  background-color: #ECF0F1;
  padding: 5px;
}
/* line 48, ../sass/study.scss */
.study-hide-css .toggle {
  margin-bottom: 20px;
}
/* line 52, ../sass/study.scss */
.study-hide-css .content-display {
  padding: 20px 50px;
  margin-bottom: 20px;
  display: block;
}
/* line 57, ../sass/study.scss */
.study-hide-css .content-display.display-none {
  border: 1px solid blue;
  display: none;
}
/* line 63, ../sass/study.scss */
.study-hide-css .content-opacity {
  margin-bottom: 20px;
  opacity: 1;
  padding: 20px;
  position: absolute;
  width: 80%;
  /*Activate visibility to the link behind it clickable*/
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 73, ../sass/study.scss */
.study-hide-css .content-opacity + a {
  bottom: 40px;
}
/* line 77, ../sass/study.scss */
.study-hide-css .content-opacity.zero-opacity {
  border: 1px solid blue;
  opacity: 0;
}
/* line 84, ../sass/study.scss */
.study-hide-css .content-dropdown {
  height: 100px;
  margin-bottom: 20px;
  opacity: 1;
  padding: 20px;
  position: absolute;
  width: 80%;
  visibility: visible;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 94, ../sass/study.scss */
.study-hide-css .content-dropdown.collapse-down {
  width: 80%;
  border: 1px solid red;
  padding: 20px;
  height: 0px;
  visibility: none;
  opacity: 0;
}
/* line 108, ../sass/study.scss */
.study-hide-css .content-display + a,
.study-hide-css .content-opacity + a,
.study-hide-css .content-dropdown + a {
  display: block;
  color: #2C3E50;
  padding: 10px;
  border: 1px dashed #34495E;
}

/* line 119, ../sass/study.scss */
.study-subtitle-wrap .container h3 {
  width: 50%;
  margin: 50px auto;
  border-bottom: 3px solid #E67E22;
}
/* line 126, ../sass/study.scss */
.study-subtitle-wrap .title-main-title {
  background-color: #1ABC9C;
}
/* line 131, ../sass/study.scss */
.study-subtitle-wrap .title-sub-title {
  font-size: 70%;
  background-color: #16A085;
  color: #ECF0F1;
}
/* line 139, ../sass/study.scss */
.study-subtitle-wrap .title1 .title-sub-title {
  float: right;
}
/* line 144, ../sass/study.scss */
.study-subtitle-wrap .title2 {
  overflow: hidden;
}
/* line 148, ../sass/study.scss */
.study-subtitle-wrap .title2 .title-sub-title {
  margin-top: 5px;
  float: right;
}
/* line 154, ../sass/study.scss */
.study-subtitle-wrap .title3 {
  overflow: hidden;
}
/* line 158, ../sass/study.scss */
.study-subtitle-wrap .title3 .title-sub-title {
  margin-top: 5px;
  float: right;
  width: 100%;
}
/* line 165, ../sass/study.scss */
.study-subtitle-wrap .title4 {
  position: relative;
}
/* line 168, ../sass/study.scss */
.study-subtitle-wrap .title4 .title-sub-title {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
/* line 175, ../sass/study.scss */
.study-subtitle-wrap .title5 {
  position: relative;
}
@media screen and (max-width: 980px) {
  /* line 178, ../sass/study.scss */
  .study-subtitle-wrap .title5 .title-main-title {
    display: block;
  }
}
/* line 183, ../sass/study.scss */
.study-subtitle-wrap .title5 .title-sub-title {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
@media screen and (max-width: 980px) {
  /* line 183, ../sass/study.scss */
  .study-subtitle-wrap .title5 .title-sub-title {
    position: relative;
  }
}
/* line 193, ../sass/study.scss */
.study-subtitle-wrap .title6 {
  display: table;
}
/* line 196, ../sass/study.scss */
.study-subtitle-wrap .title6 .title-main-title,
.study-subtitle-wrap .title6 .title-sub-title {
  display: table-cell;
}
/* line 200, ../sass/study.scss */
.study-subtitle-wrap .title6 .title-sub-title {
  text-align: right;
}
/* line 205, ../sass/study.scss */
.study-subtitle-wrap .title7 {
  display: table;
}
@media screen and (max-width: 980px) {
  /* line 205, ../sass/study.scss */
  .study-subtitle-wrap .title7 {
    display: block;
  }
}
/* line 210, ../sass/study.scss */
.study-subtitle-wrap .title7 .title-main-title,
.study-subtitle-wrap .title7 .title-sub-title {
  display: table-cell;
}
@media screen and (max-width: 980px) {
  /* line 210, ../sass/study.scss */
  .study-subtitle-wrap .title7 .title-main-title,
  .study-subtitle-wrap .title7 .title-sub-title {
    display: block;
  }
}
/* line 217, ../sass/study.scss */
.study-subtitle-wrap .title7 .title-sub-title {
  text-align: right;
}
@media screen and (max-width: 980px) {
  /* line 217, ../sass/study.scss */
  .study-subtitle-wrap .title7 .title-sub-title {
    text-align: left;
  }
}
/* line 225, ../sass/study.scss */
.study-subtitle-wrap .title8 {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  justify-content: space-between;
}
/* line 238, ../sass/study.scss */
.study-subtitle-wrap .title9 {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  justify-content: space-between;
}
/* line 243, ../sass/study.scss */
.study-subtitle-wrap .title9 .title-main-title {
  flex-grow: 1;
}
/* line 248, ../sass/study.scss */
.study-subtitle-wrap .title10 {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  justify-content: space-between;
  white-space: nowrap;
}
/* line 254, ../sass/study.scss */
.study-subtitle-wrap .title10 .title-main-title {
  flex-grow: 1;
}
/* line 259, ../sass/study.scss */
.study-subtitle-wrap .title11 {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  justify-content: space-between;
  white-space: nowrap;
  flex-wrap: wrap;
}
/* line 265, ../sass/study.scss */
.study-subtitle-wrap .title11 .title-main-title {
  flex-grow: 1;
}

/* line 273, ../sass/study.scss */
.study-magic-number .notes li {
  list-style: initial;
}
/* line 279, ../sass/study.scss */
.study-magic-number .tab li {
  padding: 10px 20px;
  background-color: #7F8C8D;
  color: #ECF0F1;
  display: inline-block;
}
/* line 287, ../sass/study.scss */
.study-magic-number .graybox {
  background-color: #7F8C8D;
  width: 100%;
  padding: 20px 0px;
}
/* line 294, ../sass/study.scss */
.study-magic-number .container h2, .study-magic-number .container button {
  margin-bottom: 20px;
}
/* line 301, ../sass/study.scss */
.study-magic-number .tab-example .tab2 li {
  width: 100px;
}
/* line 307, ../sass/study.scss */
.study-magic-number .tab-example .tab3 li {
  width: 100px;
  white-space: nowrap;
}
/* line 314, ../sass/study.scss */
.study-magic-number .tab-example .tab4 li {
  min-width: 100px;
}
/* line 321, ../sass/study.scss */
.study-magic-number .float-text-container .float-text {
  background-color: #8E44AD;
  border: 1px solid #E67E22;
  width: 50%;
  float: left;
  padding: 20px;
}
/* line 327, ../sass/study.scss */
.study-magic-number .float-text-container .float-text:nth-child(odd) {
  background-color: #9B59B6;
}
/* line 333, ../sass/study.scss */
.study-magic-number .float-text-container.fixed-height .float-text {
  height: 240px;
}
/* line 338, ../sass/study.scss */
.study-magic-number .float-text-container.min-height .float-text {
  min-height: 240px;
}
/* line 346, ../sass/study.scss */
.study-magic-number .dropdown-example .dropdown li {
  background-color: #9B59B6;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
}
/* line 351, ../sass/study.scss */
.study-magic-number .dropdown-example .dropdown li:hover {
  background-color: #8E44AD;
  color: #ECF0F1;
}
/* line 355, ../sass/study.scss */
.study-magic-number .dropdown-example .dropdown li:hover ul {
  display: block;
}
/* line 360, ../sass/study.scss */
.study-magic-number .dropdown-example .dropdown li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
}

/* line 372, ../sass/study.scss */
.study-float .container > img {
  margin-bottom: 20px;
}
/* line 376, ../sass/study.scss */
.study-float .text-container {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: gray;
  color: #ECF0F1;
}
/* line 384, ../sass/study.scss */
.study-float .floater {
  background-color: #C0392B;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  float: left;
  padding: 5px;
}
/* line 396, ../sass/study.scss */
.study-float .main-column,
.study-float .side-column {
  padding: 20px;
}
/* line 401, ../sass/study.scss */
.study-float .main-column {
  width: 300px;
  float: left;
  background-color: #7F8C8D;
}
/* line 407, ../sass/study.scss */
.study-float .side-column {
  width: 180px;
  float: right;
  background-color: #7F8C8D;
}
/* line 413, ../sass/study.scss */
.study-float .footer-bar {
  background-color: #2C3E50;
  color: #ECF0F1;
}
/* line 418, ../sass/study.scss */
.study-float .float2 {
  color: red;
}
/* line 423, ../sass/study.scss */
.study-float .float3 .main-column,
.study-float .float3 .side-column {
  width: 50%;
}
/* line 428, ../sass/study.scss */
.study-float .float3 .main-column {
  background-color: #95A5A6;
}
/* line 432, ../sass/study.scss */
.study-float .float3 .footer {
  width: auto;
  padding: 20px;
}
/* line 439, ../sass/study.scss */
.study-float .float4 .main-column,
.study-float .float4 .side-column {
  width: 50%;
}
/* line 444, ../sass/study.scss */
.study-float .float4 .main-column {
  background-color: #95A5A6;
}
/* line 448, ../sass/study.scss */
.study-float .float4 .footer-bar {
  width: auto;
  padding: 20px;
  clear: both;
}
/* line 455, ../sass/study.scss */
.study-float .float5 {
  margin-bottom: 20px;
}
/* line 457, ../sass/study.scss */
.study-float .float5 .floater {
  float: right;
  margin: 5px;
}
/* line 463, ../sass/study.scss */
.study-float .float6 .floater {
  float: right;
  margin: 5px;
}
/* line 468, ../sass/study.scss */
.study-float .float6 .floater2 {
  clear: right;
}
/* line 473, ../sass/study.scss */
.study-float .float7 .floater {
  float: left;
  margin: 5px;
}
/* line 477, ../sass/study.scss */
.study-float .float7 .row1 {
  background-color: #F39C12;
}
/* line 480, ../sass/study.scss */
.study-float .float7 .row2 {
  background-color: #C0392B;
}
/* line 483, ../sass/study.scss */
.study-float .float7 .row3 {
  background-color: #16A085;
}

/* line 491, ../sass/study.scss */
.study-vertical-align-img-text .container .img-container,
.study-vertical-align-img-text .container .txt-container {
  border: 1px solid green;
  width: 50%;
  float: left;
}
/* line 497, ../sass/study.scss */
.study-vertical-align-img-text .container .txt-container > * {
  display: inline-block;
  border: 1px solid blue;
  margin: 0px;
  padding: 0px;
}
/* line 503, ../sass/study.scss */
.study-vertical-align-img-text .container img {
  display: inline-block;
  border: 1px solid red;
}
/* line 507, ../sass/study.scss */
.study-vertical-align-img-text .container .box {
  min-width: 10px;
  min-height: 20px;
  display: inline-block;
  background-color: #C0392B;
}
/* line 513, ../sass/study.scss */
.study-vertical-align-img-text .container .tall {
  height: 80px;
}
/* line 516, ../sass/study.scss */
.study-vertical-align-img-text .container .top > * {
  vertical-align: top;
}
/* line 519, ../sass/study.scss */
.study-vertical-align-img-text .container .middle > * {
  vertical-align: middle;
}
/* line 522, ../sass/study.scss */
.study-vertical-align-img-text .container .baseline > * {
  vertical-align: baseline;
}
/* line 525, ../sass/study.scss */
.study-vertical-align-img-text .container .bottom > * {
  vertical-align: bottom;
}
/* line 528, ../sass/study.scss */
.study-vertical-align-img-text .container .text-top > * {
  vertical-align: text-top;
}
/* line 531, ../sass/study.scss */
.study-vertical-align-img-text .container .text-bottom > * {
  vertical-align: text-bottom;
}
/* line 534, ../sass/study.scss */
.study-vertical-align-img-text .container .va30 > * {
  vertical-align: 30px;
}
/* line 537, ../sass/study.scss */
.study-vertical-align-img-text .container .va-30 > * {
  vertical-align: -30px;
}

/* line 544, ../sass/study.scss */
.study-row-machine * {
  box-sizing: border-box;
}
/* line 547, ../sass/study.scss */
.study-row-machine .box {
  background-color: white;
  padding: 5px;
  border: 1px solid #E67E22;
  float: left;
  width: 25%;
}
/* line 554, ../sass/study.scss */
.study-row-machine .box img {
  max-width: 100%;
}
/* line 558, ../sass/study.scss */
.study-row-machine .row-machine {
  width: 80%;
  margin: 0 auto;
  border: 2px solid #E74C3C;
  padding: 10px;
}
/* line 566, ../sass/study.scss */
.study-row-machine .rm1 .box {
  width: 100%/4;
}
/* line 572, ../sass/study.scss */
.study-row-machine .rm2 .box {
  width: 100%/4;
  margin-right: 2%;
}
/* line 578, ../sass/study.scss */
.study-row-machine .work-display {
  text-align: center;
  padding: 20px 0px;
  margin: 20px 0px;
  border: 1px solid #2C3E50;
  border-width: 1px 0px 1px 0px;
}
/* line 585, ../sass/study.scss */
.study-row-machine .work-display img {
  max-width: 100%;
}
/* line 591, ../sass/study.scss */
.study-row-machine .rm3 .box {
  width: 23.5%;
  margin-right: 2%;
}
/* line 594, ../sass/study.scss */
.study-row-machine .rm3 .box:nth-child(4n) {
  margin-right: 0px;
}
/* line 601, ../sass/study.scss */
.study-row-machine .rm4 .box {
  width: 23.5%;
  margin-right: 2%;
}
/* line 607, ../sass/study.scss */
.study-row-machine .rm4 .box:nth-child(4n) {
  margin-right: 0px;
}
/* line 623, ../sass/study.scss */
.study-row-machine .rm5 .box {
  width: 18.4%;
  margin-right: 2%;
}
/* line 618, ../sass/study.scss */
.study-row-machine .rm5 .box:nth-child(5n) {
  margin-right: 0px;
}
/* line 638, ../sass/study.scss */
.study-row-machine .rm6 .box {
  width: 32%;
  margin-right: 2%;
}
/* line 633, ../sass/study.scss */
.study-row-machine .rm6 .box:nth-child(3n) {
  margin-right: 0px;
}
@media screen and (min-width: 768px) {
  /* line 638, ../sass/study.scss */
  .study-row-machine .rm6 .box {
    width: 18.4%;
    margin-right: 2%;
  }
  /* line 633, ../sass/study.scss */
  .study-row-machine .rm6 .box:nth-child(5n) {
    margin-right: 0px;
  }
}
/* line 661, ../sass/study.scss */
.study-row-machine .rm7 .box {
  width: 32%;
  margin-right: 2%;
}
/* line 652, ../sass/study.scss */
.study-row-machine .rm7 .box:nth-child(n) {
  margin-right: 2%;
  margin-bottom: 2%;
}
/* line 656, ../sass/study.scss */
.study-row-machine .rm7 .box:nth-child(3n) {
  margin-right: 0px;
}
@media screen and (min-width: 768px) {
  /* line 661, ../sass/study.scss */
  .study-row-machine .rm7 .box {
    width: 18.4%;
    margin-right: 2%;
  }
  /* line 652, ../sass/study.scss */
  .study-row-machine .rm7 .box:nth-child(n) {
    margin-right: 2%;
    margin-bottom: 2%;
  }
  /* line 656, ../sass/study.scss */
  .study-row-machine .rm7 .box:nth-child(5n) {
    margin-right: 0px;
  }
}

/* line 673, ../sass/study.scss */
.study-css-positioning div[class^="pos"] {
  background-color: #E74C3C;
  width: 50%;
  float: left;
}
/* line 678, ../sass/study.scss */
.study-css-positioning .divbox {
  width: 150px;
  height: 150px;
  background-color: #BADA55;
  position: relative;
}
/* line 685, ../sass/study.scss */
.study-css-positioning .code {
  width: 50%;
  float: left;
}
/* line 691, ../sass/study.scss */
.study-css-positioning .pos2 .divbox {
  position: static;
}
/* line 697, ../sass/study.scss */
.study-css-positioning .pos3 .divbox {
  position: relative;
  top: 50px;
}
/* line 704, ../sass/study.scss */
.study-css-positioning .pos4 .divbox {
  position: relative;
}
/* line 706, ../sass/study.scss */
.study-css-positioning .pos4 .divbox span {
  position: absolute;
  bottom: 0px;
}
/* line 714, ../sass/study.scss */
.study-css-positioning .pos5 .divbox {
  position: fixed;
  z-index: 1000;
  top: 80px;
  right: 2px;
  background-color: #F39C12;
}
/* line 720, ../sass/study.scss */
.study-css-positioning .pos5 .divbox span {
  position: relative;
}

/* line 728, ../sass/study.scss */
.study-one-true-layout .col-1, .study-one-true-layout .col-2 {
  width: 50%;
  display: table-cell;
  border: 1px solid red;
  margin-right: -4px;
  vertical-align: middle;
}
/* line 738, ../sass/study.scss */
.study-one-true-layout #one-true .col {
  padding: 20px;
}
/* line 741, ../sass/study.scss */
.study-one-true-layout #one-true .col p {
  font-size: 10px;
  line-height: 15px;
}
/* line 746, ../sass/study.scss */
.study-one-true-layout #one-true .col:nth-child(odd) {
  background-color: white;
}
/* line 755, ../sass/study.scss */
.study-one-true-layout .step-1 #one-true .col {
  width: 25%;
  float: left;
}
/* line 763, ../sass/study.scss */
.study-one-true-layout .step-2 #one-true {
  overflow: hidden;
}
/* line 765, ../sass/study.scss */
.study-one-true-layout .step-2 #one-true .col {
  width: 25%;
  float: left;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
