/*background-size*/
/*fonts*/
/*Transition*/
/*Break Point*/
/*Using 100% for both html and body will allow the header */
/* line 4, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 8, ../sass/style.scss */
a:hover {
  text-decoration: none;
}

/* line 12, ../sass/style.scss */
section {
  padding: 100px 0px;
}

/* line 16, ../sass/style.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 21, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/*===========================================
Landing Page
===========================================*/
/* line 29, ../sass/style.scss */
.landing-page .navbar-btn {
  margin-right: 15px;
}
/* line 33, ../sass/style.scss */
.landing-page .intro-header {
  background: url("../img/landingpagebg2.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: table;
}
/* line 41, ../sass/style.scss */
.landing-page .logo {
  max-width: 50%;
}
/* line 45, ../sass/style.scss */
.landing-page .vertical-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

/*===========================================
Dashboard 
===========================================*/
/* line 57, ../sass/style.scss */
.dashboard-page {
  /*HEADER*/
}
/* line 58, ../sass/style.scss */
.dashboard-page .side-note {
  position: fixed;
  top: 0%;
  width: 10%;
  border: 1px solid red;
  font-size: 20px;
  font-size: 1.25rem;
}
/* line 66, ../sass/style.scss */
.dashboard-page .top-header {
  height: 50px;
  display: table;
  position: relative;
  background-color: darkgray;
  width: 100%;
}
/* line 73, ../sass/style.scss */
.dashboard-page .top-header span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 78, ../sass/style.scss */
.dashboard-page .top-header span img {
  max-width: 10%;
}
/* line 83, ../sass/style.scss */
.dashboard-page .top-header .btn {
  position: absolute;
  right: 20px;
}

/*===========================================
Dashboard - Dropdown
===========================================*/
/* line 92, ../sass/style.scss */
.dashboard-dropdown {
  text-align: left;
  height: 40px;
  background-color: gray;
  position: relative;
  z-index: 9999;
}
/* line 99, ../sass/style.scss */
.dashboard-dropdown .article-dropdown {
  left: 16%;
}
/* line 103, ../sass/style.scss */
.dashboard-dropdown .tutorial-dropdown {
  left: 34%;
}
/* line 107, ../sass/style.scss */
.dashboard-dropdown ul {
  list-style: none;
  padding: 0px;
  position: relative;
  display: inline-table;
}
/* line 113, ../sass/style.scss */
.dashboard-dropdown ul:after {
  content: "";
  clear: both;
  display: block;
}
/* line 119, ../sass/style.scss */
.dashboard-dropdown ul li {
  background-color: gray;
  border: 1px solid red;
  color: white;
  padding: 10px 20px;
  float: left;
  cursor: pointer;
}
/* line 126, ../sass/style.scss */
.dashboard-dropdown ul li:hover {
  background-color: red;
}
/* line 129, ../sass/style.scss */
.dashboard-dropdown ul li a {
  color: white;
}
/* line 135, ../sass/style.scss */
.dashboard-dropdown ul ul {
  display: none;
  position: absolute;
  top: 100%;
}
/* line 140, ../sass/style.scss */
.dashboard-dropdown ul ul li {
  float: none;
  position: relative;
}
/* line 144, ../sass/style.scss */
.dashboard-dropdown ul ul li:hover {
  background-color: red;
}
/* line 150, ../sass/style.scss */
.dashboard-dropdown ul ul ul {
  left: 100%;
  top: 0;
}
/* line 155, ../sass/style.scss */
.dashboard-dropdown ul li:hover > ul {
  display: block;
}

/*===========================================
Dashboard - Template Selector
===========================================*/
/* line 162, ../sass/style.scss */
.template-preview-container {
  padding: 100px 10px 20px;
  background-color: green;
}

/* line 167, ../sass/style.scss */
.template-select-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 40px 0px;
}

/* line 174, ../sass/style.scss */
.template-pointer {
  position: absolute;
  top: 0%;
  left: 140px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid green;
}

/* line 185, ../sass/style.scss */
.template-set {
  margin: 0 auto;
  text-align: center;
  padding: 0px;
}
/* line 190, ../sass/style.scss */
.template-select-container .template-set {
  text-align: center;
}

/* line 195, ../sass/style.scss */
.template {
  display: inline-block;
  position: relative;
  margin-right: -4px;
  /*li gap fix*/
  padding: 5px;
}
/* line 202, ../sass/style.scss */
.template:hover .template-option {
  top: 5px;
  height: 230px;
  opacity: 1;
}

/* line 210, ../sass/style.scss */
.template-option {
  position: absolute;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.7);
  display: table;
  width: 95%;
  top: 55px;
  opacity: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 221, ../sass/style.scss */
.template-option .btn-x {
  position: absolute;
  padding: 1px 6px;
  right: 10px;
  top: 10px;
}
/* line 228, ../sass/style.scss */
.template-option .button-set {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 232, ../sass/style.scss */
.template-option .button-set button {
  display: block;
  margin: 0 auto 5px;
}

/* line 239, ../sass/style.scss */
.template-info {
  background-color: gray;
  position: relative;
  bottom: 0px;
  height: 50px;
  width: 180px;
  display: table;
}
/* line 246, ../sass/style.scss */
.template-info p {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 13px;
  padding: 5px;
}

/*===========================================
Dashboard - Modal
===========================================*/
/* line 259, ../sass/style.scss */
.modal-section {
  background-color: green;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*
  can't use display table-cell. This would stretch a across the screen and clicking on the section would call the modal
  Flex is used instead. But note that it isn't supported in IE 8 and 9. It's partially supported in IE
  */
}
/* line 270, ../sass/style.scss */
.modal-section a {
  color: white;
  font-size: 50px;
  font-size: 3.125rem;
}

/* line 276, ../sass/style.scss */
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  /* 	Note that Pointer Events aren't supported in IE8, 9, 10 */
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 293, ../sass/style.scss */
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

/* line 299, ../sass/style.scss */
.modalDialog > div {
  width: 400px;
  position: relative;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  margin: 0px 20px;
  background: #fff;
}
/* line 307, ../sass/style.scss */
.modalDialog > div .close {
  position: absolute;
  background: #606061;
  color: #FFFFFF;
  line-height: 24px;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  font-weight: normal;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  font-size: 24px;
  font-size: 1.5rem;
  opacity: 1.0;
}
/* line 321, ../sass/style.scss */
.modalDialog > div .close:hover {
  background: #00d9ff;
}

/* line 328, ../sass/style.scss */
.modal-button-set {
  display: table;
  margin: 10px 0px;
}
/* line 331, ../sass/style.scss */
.modal-button-set .btn {
  display: table-cell;
  border-radius: 0px;
}

/* line 337, ../sass/style.scss */
.modal-right-side {
  width: 224px;
  margin-left: 75px;
}
/* line 341, ../sass/style.scss */
.modal-right-side p {
  text-align: center;
  margin-bottom: 0px;
  background-color: green;
  color: white;
  border-radius: 6px;
}

/* line 349, ../sass/style.scss */
.modal-line-pointer {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  height: 10px;
  position: relative;
}
/* line 355, ../sass/style.scss */
.modal-line-pointer .hr {
  height: 1px;
  width: 100%;
  background-color: gray;
  position: absolute;
  top: 4px;
}

/*===========================================
Dashboard - Tab
===========================================*/
/* line 366, ../sass/style.scss */
.tabs-section {
  height: 600px;
  width: 100%;
  background-color: white;
  display: table;
}

/* line 373, ../sass/style.scss */
.tab-set {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 378, ../sass/style.scss */
.tab-set .tab-header {
  background-color: violet;
}
/* line 382, ../sass/style.scss */
.tab-set ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-right: 10px;
}
/* line 389, ../sass/style.scss */
.tab-set li {
  border-bottom: 1px solid gray;
  width: 200px;
  height: 60px;
  padding: 0px 10px;
  display: table;
  font-size: 20px;
  font-size: 1.25rem;
}
/* line 398, ../sass/style.scss */
.tab-set span {
  display: table-cell;
  vertical-align: middle;
}
/* line 403, ../sass/style.scss */
.tab-set .column1 {
  text-align: right;
}
/* line 406, ../sass/style.scss */
.tab-set .column1 li {
  border-bottom: 2px solid green;
}
/* line 413, ../sass/style.scss */
.tab-set .column2 li:not(.tab-header) {
  background-color: yellow;
}
/* line 416, ../sass/style.scss */
.tab-set .column2 li:not(.tab-header):nth-child(odd) {
  background-color: orange;
}
/* line 424, ../sass/style.scss */
.tab-set .column3 li:not(.tab-header) {
  background-color: aquamarine;
}
/* line 427, ../sass/style.scss */
.tab-set .column3 li:not(.tab-header):nth-child(odd) {
  background-color: lightblue;
}

/*===========================================
Dashboard - Form
===========================================*/
/* line 437, ../sass/style.scss */
.forms-section {
  height: auto;
  width: 100%;
  background-color: lightgreen;
  display: table;
}
/* line 443, ../sass/style.scss */
.forms-section .section-container {
  display: table-cell;
  vertical-align: middle;
}
/* line 449, ../sass/style.scss */
.forms-section .input-container > label {
  text-align: right;
  padding-right: 20px;
}

/* line 456, ../sass/style.scss */
.forms-set {
  width: 80%;
  margin: 0 auto;
}
/* line 459, ../sass/style.scss */
.forms-set > div {
  border-bottom: 1px solid red;
  padding: 10px 0px;
}
/* line 462, ../sass/style.scss */
.forms-set > div:first-child {
  border-top: 1px solid red;
}
/* line 466, ../sass/style.scss */
.forms-set .input-container {
  margin-bottom: 5px;
}
/* line 470, ../sass/style.scss */
.forms-set label {
  width: 25%;
  float: left;
  font-size: 30px;
  font-size: 1.875rem;
  /*This and label + div needs to have same height*/
}
/* line 477, ../sass/style.scss */
.forms-set label + div {
  width: 75%;
  float: right;
  line-height: 25px;
}

/* line 486, ../sass/style.scss */
.input-text input {
  width: 100%;
}
/* line 489, ../sass/style.scss */
.input-text textarea {
  width: 100%;
  resize: none;
}

/* line 496, ../sass/style.scss */
.input-radio .multi-choice {
  text-align: center;
}
/* line 498, ../sass/style.scss */
.input-radio .multi-choice input {
  margin-right: 10px;
}
/* line 501, ../sass/style.scss */
.input-radio .multi-choice label {
  float: none;
  margin-right: 5px;
  width: auto;
}

/* line 510, ../sass/style.scss */
.input-select label + div > select {
  font-size: 30px;
  font-size: 1.875rem;
  vertical-align: -2px;
}
